@charset "UTF-8";
.topBarM{display: none;}
.topBarPC{display: block;}
.content-box{width: 960px; height: 320px; background-position: center; position: relative;}
.content-box-img{
	position: absolute;
	top: 61px;
	left: 80px;
	width: 42px;
	height: 42px;
}
.content-box-text{
	position: absolute;
	top: 134px;
	left: 80px;
	height: 115px;
	text-align: left;
	/* font: Bold 48px/62px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 62px;
	letter-spacing: -2.4px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
#braces_wrap-1{ text-align: center;}
#braces_wrap-2{ text-align: center;}
#braces_wrap-3{ text-align: center;}
#braces_wrap-4{ text-align: center;}
#braces_wrap-5{ text-align: center;}
@media all and (max-width: 2880px){
#braces_wrap-1{
	width: 1920px;
	height: 4028px;
}
#braces_wrap-2{
	width: 1920px;
	height: 3454px;
}
#braces_wrap-3{
	width: 1920px;
	height: 3980px;
}
#braces_wrap-4{
	width: 1920px;
	height: 4181px;
}
#braces_wrap-5{
	width: 1920px;
	height: 3699px;
}
}
@media all and (max-width: 1920px){
	#braces_wrap-1{
	width: 1920px;
	height: 4028px;
}
#braces_wrap-2{
	width: 1920px;
	height: 3454px;
}
#braces_wrap-3{
	width: 1920px;
	height: 3980px;
}
#braces_wrap-4{
	width: 1920px;
	height: 4181px;
}
#braces_wrap-5{
	width: 1920px;
	height: 3699px;
}
}
@media all and (max-width: 1600px){
	#braces_wrap-1{
	width: 1600px;
	height: 4028px;
}
#braces_wrap-2{
	width: 1600px;
	height: 3454px;
}
#braces_wrap-3{
	width: 1600px;
	height: 3980px;
}
#braces_wrap-4{
	width: 1600px;
	height: 4181px;
}
#braces_wrap-5{
	width: 1600px;
	height: 3699px;
}
}

/* 4-1 */
.content-background-1{background: url('../img/4-1/41_main.png'); background-position: center; background-size: contain;}
.margin-bar1{margin: 82px auto 85px;}
.margin-bar1-2{margin: 87px auto 86px;}
.margin-bar1-3{margin: 89px auto;}
.pBraces-text-box{
	width: 240px;
	height: 60px;
	background: #B47D54 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;
	float: left;
}
.pBraces-text-2{
	margin: 13px auto;
	text-align: center;
	/* font: Bold 30px/44px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: -0.9px;
	color: #FAFAF5;
	opacity: 1;
}
.pBraces-text-3{
	text-align: center;
	/* font: Bold 32px/44px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	letter-spacing: -0.96px;
	color: #C8500F;
	opacity: 1;
}
.pBraces-text-4{
	margin-top: 40px;
	text-align: center;
	/* font: Regular 24px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: -1.2px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.pBraces-text-5{
	text-align: center;
	/* font: Bold 42px/56px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 56px;
	letter-spacing: -1.26px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
.pBraces-img-3{
	width: 472px;
	height: 520px;
	float: left;
}
.pBraces-text-6{
	text-align: center;
	/* font: Bold 36px/44px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -1.08px;
	color: #C8500F;
	opacity: 1;
}
.pBraces-img-4{
	width: 720px;
	height: 516px;
	margin: 80px auto 68px;
}
.pBraces-img-5{
	width: 472px;
	height: 520px;
	float: left;
}


/* 4-2  덧니 교정*/
.content-background-2{background: url('../img/4-2/42_main.png'); background-position: center; background-size: contain;}
.margin-bar2{margin: 100px auto;}
.sBraces-text-2{
	margin: 100px auto 75px;
	text-align: center;
	/* font: Bold 42px/56px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 56px;
	letter-spacing: -1.26px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
.sBraces-text-3{
	text-align: center;
	/* font: Regular 28px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1.4px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.sBraces-img-3{
	width: 472px;
	height: 300px;
	float: left;
}
.sBraces-text-4{
	text-align: center;
	/* font: Regular 38px/60px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 38px;
	line-height: 60px;
	letter-spacing: 0;
	color: #C8500F;
}
.sBraces-img-4{
	margin: 69px auto 100px;
	width: 800px;
	height: 90px;
}
.sBraces-img-5{
	width: 800px;
	height: 400px;
}
.sBraces-img-6{
	width: 312px;
	height: 144px;
	float: left;
}
.sBraces-text-5{
	text-align: center;
	/* font: Bold 36px/60px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 60px;
	letter-spacing: 0;
	color: #C8500F;
	opacity: 1;
}
.sBraces-img-7{
	margin: 60px auto auto;
	width: 959px;
	height: 174px;
}

/* 4-3 비수술 */
.content-background-3{background: url('../img/4-3/43_main.png'); background-position: center; background-size: contain;}
.margin-bar3{margin: 100px auto 81px;}
.margin-bar3-2{margin: 100px auto;}
.nBraces-text-2{
	margin: 100px auto 75px;
	text-align: center;
	/* font: Bold 42px/56px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 56px;
	letter-spacing: -1.26px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
.nBraces-text-3{
	text-align: center;
	/* font: Regular 28px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.84px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.nBraces-img-3{
	width: 959px;
	height: 510px;
}
.nBraces-img-4{
	margin: 56px auto 95px;
	width: 960px;
	height: 174px;
}
.nBraces-text-4{
	text-align: center;
	/* font: Regular 24px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: -0.72px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.nBraces-img-5{
	width: 960px;
	height: 420px;
}

/* 4-4 설측/콤비/투명 */

.content-background-4{background: url('../img/4-4/44_main.png'); background-position: center; background-size: contain;}
.margin-bar4{margin:100px auto;}
.margin-bar4-2{margin: 73px auto;}

.cBraces-img-3{
	width: 960px;
	height: 460px;
}
.cBraces-img-4{
	width: 648px;
	height: 72px;
}
.cBraces-text-2{
	text-align: center;
	/* font: Bold 42px/48px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -1.26px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
.cBraces-img-5{
	margin: auto;
	width: 800px;
	height: 400px;
}
.cBraces-text-3{
	margin-top: 30px;
	text-align: center;
	/* font: Regular 24px/36px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -1.2px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.cBraces-img-6{
	margin-top: 50px;
	width: 800px;
	height: 600px;
}

/* 4-5 부분교정 */
.content-background-1{background: url('../img/4-5/45_main.png'); background-position: center; background-size: contain;}
.margin-bar5{margin: 100px auto;}
.paBraces-text-2{
	margin-top: 100px;
	text-align: center;
	/* font: Bold 42px/56px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-hegith: 56px;
	letter-spacing: -1.26px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
.paBraces-img-3{
	margin: auto;
	width: 800px;
	height: 600px;
}
.paBraces-text-3{
	margin-top: 60px;
	text-align: center;
	/* font: Regular 28px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1.4px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.paBraces-text-4{
	text-align: center;
	/* font: Regular 28px/44px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 28px;
	line-height: 44px;
	letter-spacing: -0.84px;
	color: #6E645A;
	white-space: pre-line;
}
.paBraces-img-4{
	margin: 100px auto 48px;
	width: 960px;
	height: 730px;
}
.paBraces-img-5{
	width: 960px;
	height: 510px;
	float: left;
}




@media screen and (max-width: 960px){
#braces_wrap-1{
	width: 360px;
	height: 3465px;
}
#braces_wrap-2{
	width: 360px;
	height: 2432px;
}
#braces_wrap-3{
	width: 360px;
	height: 2190px;
}
#braces_wrap-4{
	width: 360px;
	height: 3232px;
}
#braces_wrap-5{
	width: 360px;
	height: 2098px;
}

.top-bar{width: 360px; height: 100%; padding-top: 48px;}
.topBarM{display: block;}
.topBarPC{display: none;}
.content-box{width: 320px; height: 180px; border-radius: 3px;}
.content-box-img{max-width: 32px; height: 32px; top: 20px; left: 20px;}
.content-box-text{font-size: 26px; line-height: 34px; letter-spacing: -1.3px; top: 78px; left: 20px;}

.content-background-1{background: url('../img_m/4/41 main.png'); background-position: center; background-size: contain;}
.content-background-2{background: url('../img_m/4/42 main.png'); background-position: center; background-size: contain;}
.content-background-3{background: url('../img_m/4/43 main.png'); background-position: center; background-size: contain;}
.content-background-4{background: url('../img_m/4/44 main.png'); background-position: center; background-size: contain;}
.content-background-5{background: url('../img_m/4/45 main.png'); background-position: center; background-size: contain;}


/* 4-1 */
.pBraces-text-box{width: 102px; height: 26px; border-radius: 5px;}
.pBraces-text-2{margin: 5px auto; font-size: 13px; line-height: 18px; letter-spacing: -0.39px;}
.pBraces-text-3{font-size: 24px; line-height: 36px; letter-spacing: -0.72px; white-space: pre-line;}
.pBraces-text-4{margin-top: 42px; font-size: 14px; line-height: 24px; letter-spacing: -0.7px;}
.margin-bar1{width: 40px; margin: 48px auto;}
.pBraces-text-5{font-size: 24px; line-height: 36px; letter-spacing: -0.72px;}
.pBraces-img-3{width: 320px; height: 352.54px; margin-bottom: 19.46px;}
.margin-bar1-2{width: 40px; margin: 48.46px auto 48px;}
.pBraces-text-5-5{letter-spacing: -1.2px;}
.pBraces-img-4{margin:30px auto 48px; width: 320px; height: 230px;}



/* 4-2 */
.sBraces-text-2{margin: 42px auto 32px; font-size: 24px; line-height: 36px; letter-spacing: -0.72px;}
.sBraces-text-3{font-size: 14px; line-height: 24px; letter-spacing: -0.7px;}
.margin-bar2{margin: 48px auto; width: 40px;}
.sBraces-img-3{width: 320px; height: 203.39px; margin-bottom: 20.61px;}
.sBraces-text-4{font-size: 24px; line-height: 36px; letter-spacing: -0.72px; white-space: pre-line;}
.sBraces-img-4{margin: 32px auto; width: 320px; height: 36px;}
.sBraces-img-5{width: 320px; height: 160px;}
.sBraces-img-6{width: 104px; height: 48px;}
.sBraces-text-5{font-size: 24px; line-height: 36px; letter-spacing: -0.72px; white-space: pre-line;}
.sBraces-img-7{width: 320px; height: 270px;}



/* 4-3 */
.nBraces-text-2{margin: 32px auto 42px; font-size: 24px; line-height: 36px; letter-spacing: -0.72px;}
.nBraces-text-3{font-size: 14px; line-height: 24px; letter-spacing: -0.7px;}
.margin-bar3{width: 40px; margin: 48px auto 41px;}
.nBraces-img-3{width: 320px; height: 210px; margin-bottom: 12px;}
.nBraces-img-4{margin: 32px auto 31.5px; width: 320px; height: 350px;}
.nBraces-text-4{font-size: 14px; line-height: 24px; letter-spacing: -0.7px;}
.nBraces-img-5{width: 320px; height: 140px; border-radius: 5px;}


/* 4-4 */
.cBraces-img-3{width: 320px; height: 565px;}
.margin-bar4{width: 40px; margin: 48px auto;}
.cBraces-img-4{width: 320px; height: 36px;}
.cBraces-text-2{font-size: 26px; line-height: 38px; letter-spacing: -1.3px;}
.cBraces-img-5{width: 320px; height: 161px;}
.cBraces-text-3{font-size:14px; line-height: 24px; letter-spacing: -0.7px;}
.cBraces-img-6{margin-top: 30px; width: 320px; height: 240px;}


/* 4-5 */
.paBraces-text-2{margin-top: 42px; font-size: 24px; line-height: 36px; letter-spacing: -0.72px;}
.margin-bar5{width: 40px; margin: 48px auto;}
.paBraces-img-3{width: 264px; height:500px;}
.paBraces-text-3{margin-top: 42px; font-size: 14px; line-height: 24px; letter-spacing: -0.7px;}
.paBraces-text-4{font-size: 14px; line-height: 24px; letter-spacing: -0.7px;}
.paBraces-img-4{width: 320px; height: 284px; margin: 40px auto 12px;}
.paBraces-img-5{width: 320px; height: 194px; float: none; }







}