* {
	margin: auto; padding:0;
	list-style-type:none;
	font-family: 'NanumSquareRound',sans-serif;
}
html, body{height: 100%;}

/* index */
@media all and (max-width: 2880px) and (min-width: 2561px){
	#wrap {
		width: 2880px;
	}
	#header{
		width: 2880px;
		height: 186px;
		opacity: 1;
	}
	#footer{
		width: 2880px;
		height: 240px;
		background: #FAFAF5 0% 0% no-repeat padding-box;
		opacity: 1;
	}
	#main_plater_wrap{
		width: 2880px;
		height: 4279px;
}
	#main_plate{
		width: 2880px; height: 920px; position: relative;
	}
	#slider_wrap{
		width: 2880px;
		height: 920px;
		opacity: 1;
	}
	.slider-img{
		width: 2880px;
		height: 920px;
	}
	/* #slide-text{
		top: 287px;
	    left: 29.49%;
		width: 439px;
		height: 146px;
		text-align: left;
		font: Regular 60px/80px NanumSquareRoundOTF;
		font-family: 'NanumSquareRound',sans-serif;
		font-size: 60px;
		font-weight: normal;
		line-height: 80px;
		letter-spacing: -3px;
		color: #C8500F;
		opacity: 1;
		position: absolute;
		white-space: pre-line;
	} */	
	#slide_button_box{
		top: 800px;
	    left: 923px;
		width: 75px; 
		height: 15px;	
		position: absolute;	
	}
	
	#accumulate_count_div{
		width: 2880px;
		height: 174px;
		background: #9B948C 0% 0% no-repeat padding-box;
		opacity: 1;
	}
}
@media all and (max-width: 2560px) and (min-width: 1921px){
	#wrap {
		width: 2560px;
	}
	#header{
		width: 2560px;
		height: 186px;
		opacity: 1;
	}
	#footer{
		width: 2560px;
		height: 240px;
		background: #FAFAF5 0% 0% no-repeat padding-box;
		opacity: 1;
	}
	#main_plater_wrap{
		width: 2560px;
		height: 4279px;
}
	#main_plate{
		width: 2560px; height: 920px; position: relative;
	}
	#slider_wrap{
		width: 2560px;
		height: 920px;
		opacity: 1;
	}
	.slider-img{
		width: 2560px;
		height: 920px;
	}
	#slide_button_box{
		top: 800px;
	    left: 923px;
		width: 75px; 
		height: 15px;	
		position: absolute;	
	}
	
	#accumulate_count_div{
		width: 2560px;
		height: 174px;
		background: #9B948C 0% 0% no-repeat padding-box;
		opacity: 1;
	}
}
@media all and (max-width: 1920px) and (min-width: 1601px){
	#wrap {
		width: 1920px;
	}
	#header{
		width: 1920px;
		height: 186px;
		opacity: 1;
	}
	#footer{
		width: 1920px;
		height: 240px;
		background: #FAFAF5 0% 0% no-repeat padding-box;
		opacity: 1;
	}
	
	#main_plater_wrap{
		width: 1920px;
		height: 4279px;
	}
	#main_plate{
		width: 1920px; height: 720px; position: relative;
	}
	#slider_wrap{
		width: 1920px;
		height: 720px;
		opacity: 1;
	}
	.slider-img{
		width: 1920px;
		height: 720px;
	}/* 
	#slide-text{
		top: 287px;
	    left: 29.49%;
		width: 439px;
		height: 146px;
		text-align: left;
		font: Regular 60px/80px NanumSquareRoundOTF;
		font-family: 'NanumSquareRound',sans-serif;
		font-size: 60px;
		font-weight: normal;
		line-height: 80px;
		letter-spacing: -3px;
		color: #C8500F;
		opacity: 1;
		position: absolute;
		white-space: pre-line;
	} */
	#slide_button_box{
		top: 800px;
	    left: 923px;
		width: 75px; 
		height: 15px;	
		position: absolute;	
	}
	
	#accumulate_count_div{
		width: 1920px;
		height: 174px;
		background: #9B948C 0% 0% no-repeat padding-box;
		opacity: 1;
	}
}
@media all and (max-width: 1600px) and (min-width: 961px){
	#wrap {
		width: 1600px;
	}
	#header{
		width: 1600px;
		height: 186px;
		opacity: 1;
	}
	#footer{
		width: 1600px;
		height: 240px;
		background: #FAFAF5 0% 0% no-repeat padding-box;
		opacity: 1;
	}
	#main_plater_wrap{
		width: 1600px;
		height: 4279px;
	}
	#main_plate{
		width: 1600px; height: 720px; position: relative;
	}
	#slider_wrap{
		width: 1600px;
		height: 720px;
		opacity: 1;
	}
	.slider-img{
		width: 1600px;
		height: 720px;
	}
	
	/* #slide-text{
		top: 287px;
	    left: 24.49%;
		width: 439px;
		height: 146px;
		text-align: left;
		font: Regular 60px/80px NanumSquareRoundOTF;
		font-family: 'NanumSquareRound',sans-serif;
		font-size: 60px;
		font-weight: normal;
		line-height: 80px;
		letter-spacing: -3px;
		color: #C8500F;
		opacity: 1;
		position: absolute;
		white-space: pre-line;
	} */
	#slide_button_box{
		top: 800px;
	    left: 923px;
		width: 75px; 
		height: 15px;	
		position: absolute;	
	}
	
	#accumulate_count_div{
		width: 1600px;
		height: 174px;
		background: #9B948C 0% 0% no-repeat padding-box;
		opacity: 1;
	}
}
@media screen and (min-width: 961px){
.margin-bar{width: 40px; height: 1.5px;  background: #C8500F 0% 0% no-repeat padding-box;}
.top-bar{padding-top: 130px; width: 960px; height: 100%;}
}
#content{
	height: 100%;
}
@media screen and (min-width: 960px){
	
#content_mobile{display: none;}
	
}
/* mainPlate */
.arrow_css{ position: absolute; top: 45%; z-index: 100; width: 30px;}

.slick-dots li.slick-active button{
	background: #C8500F;
}
.slider-img{cursor: pointer;}
.slide_button{
	width: 15px;
	height: 15px;
	background: #B4AAA0 0% 0% no-repeat padding-box;
	opacity: 1;
	float: left;
}
.accumulate_count-text{
	margin: 20px 0;
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #FFFFFF;
	float: left;
	line-height: 40px;
}
#accumulate_count{
	margin-right: 13px;
	text-align: right;
	/* font: Bold 60px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 60px;
	line-height: 75px;
	letter-spacing: 0;
	color: #FFFFFF;
	display: inline;
	opacity: 1;
}
.accumulate_date{float: left; margin-top:30px; margin-left: 30px; font-size: 18px; line-height: 40px; color: #fff; }

#kcsi-text{
	margin: 23px 0 0 27px;
	text-align: left;
	/* font: Bold 32px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -1.6px;
	color: #6E645A;
	float: left;
	opacity: 1;
}
#main-content-text-01{
	width: 295px;
	height: 40px;
	text-align: left;
	/* font: Bold 36px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 36px;
	letter-spacing: -1.8px;
	color: #C8500F;
	opacity: 1;
	line-height: 40px;
}
#main-content-text-02{
	width: 305px;
	height: 153px;
	text-align: left;
	/* font: Regular 25px/42px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	letter-spacing: -1.25px;
	font-size: 25px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
	line-height: 42px;
}
.mindIcon-box{
	width: 80px;
	height: 123px;
	float: left;
}
.mindIcon-img{
	width: 80px;
	height: 68px;
}
.mindIcon-text{
	text-align: center;
	/* font: Bold 20px/23px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.6px;
	color: #6E645A;
	margin: 8px 0;
	opacity: 1;
}
.mindIcon-link{
	width: 80px;
	text-align: center;
	/* font: Bold 15px/17px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	letter-spacing: -0.45px;
	color: #C8500F;
	opacity: 1;
	text-decoration: none;
	float: left;
}
.mindIcon-border{
	width: 0px;
	height: 132px;
	border: 0.6px solid #9B948C;
	opacity: 1;
	margin: 0 44px;
	float: left;
}

.main-content-text-03{
	padding-top: 108px;
	margin: auto;
	width: 446px;
	height: 44px;
	text-align: center;
	/* font: Bold 40px/30px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 30px;
	letter-spacing: -2px;
	color: #C8500F;
	opacity: 1;
}
.main-content-D-div{
	width: 220px;
	height: 380px;
	box-shadow: 1px 3px 4px #00000033;
	border-radius: 10px;
	opacity: 1;
	float: left;
	position: relative;
	margin-right: 26px;
}
.main-content-img-01{
	width: 300px;
	height: 500px;
	/* background: transparent url('img/D-01.png') 0% 0% no-repeat padding-box; */
	box-shadow: 1px 3px 4px #00000033;
	opacity: 1;
}
.main-content-D-inform{
	margin: auto;
	width: 198px;
	height: 75px;
	background: #FFFFFFE6 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	position: relative;
    top: 294px;
    cursor: pointer;
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.main-content-D-inform{
		margin: auto;
		width: 198px;
		height: 75px;
		background: rgba(255,255,255,0.9);
		border-radius: 5px;
		opacity: 1;
		position: relative;
	    top: 294px;
	}
}
.main-content-text-04{
	width: 55px;
	height: 22px;
	text-align: left;
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0;
	color: #C8500F;
	opacity: 1;
	position: absolute;
	top: 15px;
	left: 14px;
}
.main-content-text-05{
	width: 70px;
	height: 13px;
	text-align: left;
	letter-spacing: 0;
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #6E645A;
	opacity: 1;
	position: absolute;
	top: 22px;
	left: 69.61px;
}
.main-content-arrow{
	position: absolute;
    top: 12.7px;
    left: 172.72px;
    color: #D1550A;
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;
}
.main-content-text-06{
	width: 111px;
	height: 13px;
	text-align: left;
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.36px;
	color: #6E645A;
	opacity: 1;
	position: absolute;
	top: 51px;
	left: 14px;
}
#main-content-text-07{
	width: 226px;
	height: 90px;
	text-align: left;
	/* font: Bold 36px/50px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	letter-spacing: -1.8px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
	margin-top: 100px;
}
#main-content-text-08{
	width: 330px;
	height: 74px;
	text-align: left;
	/* font: Bold 30px/40px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
#main-content-text-09{
	width: 305px;
	height: 67px;
	text-align: left;
	letter-spacing: -1.25px;
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 25px;
	line-height:37px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
	margin-top: 21px;
	display: inline-block;
}
#main-content-img-02{
	width: 480px; 
	height: 480px; 
	box-shadow: 2px 5px 6px #0000001F; 
	border-radius: 10px;
	opacity: 1;
	float: left;
}
#main-content-img-03{
	width: 220px;
	height: 186px;
	/* background: transparent url('img/Mark.png') 0% 0% no-repeat padding-box; */
	opacity: 1;
}

#main-content-text-10{
	width: 379px;
	height: 76px;
	text-align: left;
	/* font: Bold 30px/42px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 48px;
	letter-spacing: 0;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
	margin: 54px 0;
	display: inline-block;
}
#main-content-text-11{
	width: 257px;
	height: 97px;
	text-align: left;
	/* font: Regular 25px/35px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: -1.25px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}