@charset "UTF-8";
*{font-family: 'NanumSquareRound',sans-serif;}
@media all and (max-width: 2880px){
#service_wrap-1{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-1-1{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2-2{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-3{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
}@media all and (max-width: 1920px){
#service_wrap-1{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-1-1{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2-2{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-3{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
}
@media all and (max-width: 1600px){
#service_wrap-1{
	width: 1600px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-1-1{
	width: 1600px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2{
	width: 1600px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2-2{
	width: 1600px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-3{
	width: 1600px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
}
/* 7-1 공지사항 */


#notice-text-1{
height: 44px;
text-align: center;
/* font: Bold 40px/30px NanumSquareRoundOTF; */
font-weight: bold;
font-size: 40px;
line-height: 30px;
letter-spacing: -2px;
color: #C8500F;
opacity: 1;
}
#notice-text-2{
margin: 20px auto 60px;
text-align: center;
/* font: Regular 20px/23px NanumSquareRoundOTF; */
font-size: 20px;
line-height: 23px;
letter-spacing: -0.6px;
color: #6E645A;
opacity: 1;
}
.notice_table-div{
	width: 960px;
	border-top: 2px solid #9B948C;
	border-bottom: 2px solid #9B948C;
}
.notice_table{
	width: 960px;
	border: 0;
}
.notice_append_table{
	width: 960px;
	border-top: 1px solid #9B948C;
	cursor: pointer;
}
.notice_append_table:hover{
	background: #e9e9e9;
}
.notice_table th{
	/* font: Bold 16px/18px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.48px;
	color: #6E645A;
	opacity: 1;
}
.notice_table_font{
	/* font: Bold 12px/13px NanumSquareRoundOTF; */
	font-size: 12px;
	line-height: 13px;
	letter-spacing: -0.36px;
	color: #6E645A;
	opacity: 1;
}
.notice_table-num{
width: 34px; padding-left: 24px;
}
.notice_table-subject{
padding-left: 74px;
}
.notice_table-date{
width: 62px; padding-right: 45px;
}
.notice_table-view{
width: 34px; padding-right: 24px;
}
.notice_table-text-tr{
	height: 40px;
	text-align: center;
}
.notice_table_iSubject{
	text-align: left;
	/* font: Bold 16px/18px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.48px;
	color: #C8500F;
	opacity: 1;
}
.notice_table_nSubject{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}
.paging-box{
	width: 40px;
	height: 40px;
	border: 1px solid #9B948C;
	margin-right: 10px;
	text-align: center;
	/* font: Bold 16px/18px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.48px;
	color: #C8500F;
	opacity: 1;	
	float: left;
	display: table;
	cursor: pointer;
}
.paging-box>span{
	display: table-cell;
	vertical-align: middle;
}
#ad_notice-wrap{
	width: 960px;
}
/* 가오픈 공지 소스 */
.notice_wrap{ width: 960px; height: 100%;}
.notice_none{display: none;}
.notice_subject{
	margin-bottom: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	line-height: 44px;
	letter-spacing: -0.84px;
	color: #6E645A;
	opacity: 1;
}
.notice-content_wrap{
	width: 960px;
	border: 1px solid #C8500F;
	border-radius: 10px;
}
.notice_content{
	width: 802px;
	margin: 78px auto;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: -0.54px;
	color: #8D8D8D;
	white-space: pre-line;
	opacity: 1;
}
.notice_btn_wrap{margin-top:80px;  margin-bottom: 100px;  width: 262px; height: 40px;}
#btn_next{margin-left:18px;}

.no_btn{width: 120px; height: 40px; display: table; text-align: center; float: left; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #9B948C; opacity: 1; cursor: pointer;}
.no_btn>span{
	display:table-cell; 
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	line-hegiht: 36px;
	letter-spacing: -0.48px;
	color: #C8500F;
	opacity: 1;
}


/* 7-2 마인드 히스토리 */

.history-text-1{
height: 44px;
text-align: center;
/* font: Bold 40px/30px NanumSquareRoundOTF; */
font-weight: bold;
font-size: 40px;
line-height: 30px;
letter-spacing: -2px;
color: #C8500F;
opacity: 1;
}
.history-text-2{
margin: 20px auto 0;
text-align: center;
/* font: Regular 20px/23px NanumSquareRoundOTF; */
font-size: 20px;
line-height: 23px;
letter-spacing: -0.6px;
color: #6E645A;
opacity: 1;
}

.history-box{
	margin-top: 60px;
	margin-right: 6px;
	width: 316px;
	height: 342px;
	float: left;
	cursor: pointer;
}
.history-img-3{
	width: 316px;
	height: 316px;
	background: #DBDBDB 0% 0% no-repeat padding-box;
}
.history-text-3{
	margin-top: 24px;
	height: 22px;
	text-align: center;
	/* font: Bold 20px/23px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.6px;
	color: #6E645A;
	opacity: 1;
}

/* 7-2-2 히스토리 */
.history-event-box{
	width: 960xp;
	height: 100%; 
	margin-bottom: 60px;
}
.history-event-img{
	width: 960px;
	height: 600px;
	background: #DBDBDB 0% 0% no-repeat padding-box;
	margin-bottom: 60px;
}
.history-event-text{
	height: 100%;
	text-align: center;
	/* font: Bold 24px/36px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.72px;
	color: #6E645A;
	opacity: 1;
	white-space: pre-line;
}
.history-event-text img{
	max-width: 960px;
}
/* 가오픈 소스 */
.history_wrap{ width: 960px; height: 100%; font-family:}
/*.history_none{ display: none;}*/
#history_box{width: 972px; height: 100%; display: inline-block; margin-bottom: 152px;}
.history_contents{ 
	margin-top: 60px;
	text-align: center; 
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: -0.54px;
	color: #6E645A;
	white-space: pre-line;
	opacity: 1;
	margin-bottom: 160px;
}
.history-img{max-width: 800px;}
/* 7-3 칭찬불만 */

#compliment-text-1{
height: 44px;
text-align: center;
/* font: Bold 40px/30px NanumSquareRoundOTF; */
font-weight: bold;
font-size: 40px;
line-height: 30px;
letter-spacing: -2px;
color: #C8500F;
opacity: 1;
}
#compliment-box-1{
	margin-top:  116px;
	width: 960xp;
	height: 480px;
	background: transparent url('../img/7-3/7301.png') 0% 0% no-repeat padding-box;
	position: relative;
}

#compliment-text-2{
	top: 40px;
	height: 152px;
	text-align: left;
	/* font: Bold 36px/56px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	letter-spacing: -1.08px;
	color: #C8500F;
	opacity: 1;	
	position: absolute;
	white-space: pre-line;
}

#compliment-text-3{
	top: 268px;
	height: 139px;
	text-align: left;
	/* font: Regular 22px/38px NanumSquareRoundOTF; */
	font-size: 22px;
	line-height: 38px;
	letter-spacing: -1.1px;
	color: #6E645A;
	opacity: 1;
	position: absolute;
	white-space: pre-line;
}

.compliment-box-2{
	width: 320px;
	height: 60px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 10px;
	text-align: center;
	/* font: Bold 24px/27px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	letter-spacing: -0.72px;
	color: #6E645A;
	opacity: 1;
	cursor: pointer;
	display: table;
	box-sizing: border-box;
	float: left;
}

.cb-check{
	background: #C8500F;
	color: #fff;
	border: none;
}
.compliment-box-2>span{
	display: table-cell;
	vertical-align: middle;
}
#compliment-text-4{
	height: 22px;
	text-align: center;
	/* font: Regular 20px/23px NanumSquareRoundOTF; */
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.6px;
	color: #C8500F;
	opacity: 1;
	margin-top: 37px;
}
.ctr{
	height: 132px;
	vertical-align: top;
}
#compliment-table{
	margin: 130px auto;
	width: 664px;
	height: 755px;	
	opacity: 1;
}
#compliment-table th{
	text-align: left;
	white-space: pre-line;	
}
.cth{
	width: 194px;
	/* font: Bold 28px/32px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.84px;
	color: #6E645A;
	padding-top: 15px;
    display: inherit;
}
#compliment-table td{
	text-align: left;
	width: 470px;
	height: 60px;
}
#compliment-table input{
	height: 60px;
	text-align: center;
	/* font: Bold 28px/32px NanumSquareRoundOTF; */
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.84px;
	color: #6E645A;
	border: 1px solid #707070;
	border-radius: 10px;
	box-sizing: border-box;
	opacity: 1;
}
.ct-year{
	width: 160px;
}
.ct-day{
	width: 80px;
}
.ctd{
	margin: auto 9px auto 14px;
	width: 25px;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.84px;
	color: #6E645A;
}
.ct-text{
	width: 320px;
}
#ct-th-text{
	text-align: left;
	/* font: Regular 14px/22px NanumSquareRoundOTF; */
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.42px;
	color: #C8500F;
	opacity: 1;
	white-space: pre-line;
}
#compliment-table textarea{
	padding: 48px;
	width: 374px;
	height: 263px;
	font-weight: bold;
	font-size: 16px;
	line-height: 38px;
	border: 1px solid #707070;
	border-radius: 10px;
	opacity: 1;
	overflow: hidden;
	resize: none;
	font-family: 'NanumSquareRound',sans-serif;
}
#compliment-table input,textarea:focus{
	outline: none;
}

#compliment-text-5{
	width: 480px;
	height: 60px;
	text-align: center;
	/* font: Bold 28px/32px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.84px;
	color: #FFFFFF;
	background: #C8500F 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;
	cursor: pointer;
	display: table;
}
#compliment-text-5>span{
	display: table-cell;
	vertical-align: middle;
	height: 31px;	
}





