@charset "UTF-8";

@media all and (max-width: 2880px){
#service_wrap-1{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2{
	width: 2880px;
	height: 1446px;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-3{
	width: 2880px;
	height: 1446px;
	font-family: 'NanumSquareRound',sans-serif;
}
}@media all and (max-width: 1920px){
#service_wrap-1{
	width: 1920px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2{
	width: 1920px;
	height: 1446px;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-3{
	width: 1920px;
	height: 1446px;
	font-family: 'NanumSquareRound',sans-serif;
}
}
@media all and (max-width: 1600px){
#service_wrap-1{
	width: 1600px;
	height: 100%;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-2{
	width: 1600px;
	height: 1446px;
	font-family: 'NanumSquareRound',sans-serif;
}
#service_wrap-3{
	width: 1600px;
	height: 1446px;
	font-family: 'NanumSquareRound',sans-serif;
}
}
/* 7-1 공지사항 */


#notice-text-1{
height: 44px;
text-align: center;
/* font: Bold 40px/30px NanumSquareRoundOTF; */
font-weight: bold;
font-size: 40px;
line-height: 30px;
letter-spacing: -2px;
color: #C8500F;
opacity: 1;
}
#notice-text-2{
margin: 20px auto 60px;
text-align: center;
/* font: Regular 20px/23px NanumSquareRoundOTF; */
font-size: 20px;
line-height: 23px;
letter-spacing: -0.6px;
color: #6E645A;
opacity: 1;
}
.notice_table-div{
	width: 960px;
	border-top: 2px solid #9B948C;
	border-bottom: 2px solid #9B948C;
}
.notice_table{
	width: 960px;
	border: 0;
}
.notice_append_table{
	width: 960px;
	border-top: 1px solid #9B948C;
	cursor: pointer;
}
.notice_table th{
	/* font: Bold 16px/18px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.48px;
	color: #6E645A;
	opacity: 1;
}
.notice_table_font{
	/* font: Bold 12px/13px NanumSquareRoundOTF; */
	font-size: 12px;
	line-height: 13px;
	letter-spacing: -0.36px;
	color: #6E645A;
	opacity: 1;
}
.notice_table-num{
width: 32px; padding-left: 24px;
}
.notice_table-subject{
padding-left: 74px;
}
.notice_table-date{
width: 62px; padding-right: 45px;
}
.notice_table-view{
width: 32px; padding-right: 24px;
}
.notice_table-text-tr{
	height: 40px;
	text-align: center;
}
.notice_table_iSubject{
	text-align: left;
	/* font: Bold 16px/18px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.48px;
	color: #C8500F;
	opacity: 1;
}
.notice_table_nSubject{
	text-align: left;
	font-weight: bold;
}
.paging-box{
	width: 40px;
	height: 40px;
	border: 1px solid #9B948C;
	margin-right: 10px;
	text-align: center;
	/* font: Bold 16px/18px NanumSquareRoundOTF; */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.48px;
	color: #C8500F;
	opacity: 1;	
	float: left;
	display: table;
	cursor: pointer;
}
.paging-box>span{
	display: table-cell;
	vertical-align: middle;
}
/* 7-2 치료전후 */

#bna-text-1{
height: 44px;
text-align: center;
/* font: Bold 40px/30px NanumSquareRoundOTF; */
font-weight: bold;
font-size: 40px;
line-height: 30px;
letter-spacing: -2px;
color: #C8500F;
opacity: 1;
}
#bna-text-2{
margin: 20px auto 60px;
text-align: center;
/* font: Regular 20px/23px NanumSquareRoundOTF; */
font-size: 20px;
line-height: 23px;
letter-spacing: -0.6px;
color: #6E645A;
opacity: 1;
}

/* 7-3 치료후기 */

#reivew-text-1{
height: 44px;
text-align: center;
/* font: Bold 40px/30px NanumSquareRoundOTF; */
font-weight: bold;
font-size: 40px;
line-height: 30px;
letter-spacing: -2px;
color: #C8500F;
opacity: 1;
}
#reivew-text-2{
margin: 20px auto 60px;
text-align: center;
/* font: Regular 20px/23px NanumSquareRoundOTF; */
font-size: 20px;
line-height: 23px;
letter-spacing: -0.6px;
color: #6E645A;
opacity: 1;
}